<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles.css' />
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href='/'>Inicio</a>
        </li>
        <li>
          <a href='/realtimeproducts'>Productos en tiempo real</a>
        </li>
        <li>
          <a href='/addProduct'>Nuevo Producto</a>
        </li>
      </ul>
    </nav>
    <main>
      {{{body}}}
    </main>
    <!-- Footer -->
    <footer>
      <p>2025 Martin dos Santos</p>
      <div class='footer-links'>
        <a
          href='https://www.linkedin.com/in/martin-e-dos-santos/'
          target='_blank'
          rel='noopener noreferrer'
        >LinkedIn</a>
        <a
          href='https://github.com/tinchods93'
          target='_blank'
          rel='noopener noreferrer'
        >GitHub</a>
        <a
          href='https://coderhouse-desweb.netlify.app/'
          target='_blank'
          rel='noopener noreferrer'
        >Portfolio</a>
      </div>
    </footer>

    <script src='/socket.io/socket.io.js'></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js'
    ></script>
    <script></script>
  </body>

</html>